body { margin: 0; overflow-x: hidden; background: #000; }

.fenetre-theatre {
    height: 800vh; /* Hauteur pour la timeline */
    position: relative;
}

.scene-container {
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    perspective: 8000px; /* Profondeur */
    display: flex; align-items: center; justify-content: center;
    overflow: hidden;
    pointer-events: none; 
}

.carousel {
    position: relative;
    width: 100%; height: 100%;
    transform-style: preserve-3d;
}

.carousel__cell {
    position: absolute;
    /* PIVOT : Au centre de l'écran */
    top: 50%; left: 50%;
    
    /* TAILLE : Assez grand pour remplir l'écran */
    width: 100vw; 
    height: 80vh;
    
    /* CENTRAGE VERTICAL SEULEMENT */
    margin-top: -40vh; 
    
    /* LE SECRET DU VENTILATEUR : 
       On ne touche pas à margin-left (on reste à 0px du centre).
       Le pivot est sur le bord GAUCHE. */
    transform-origin: left center; 
    
    /* VISUEL */
    border: 2px solid white;
    background: rgba(20, 20, 20, 0.5);
    display: flex; justify-content: center; align-items: center;
}

/* Éléments à animer (cachés au début) */
/*
.content-wrapper { position: relative; width: 100%; height: 100%; transform-style: preserve-3d; }
*/
/*
.hide-at-start { opacity: 1; transform: translateY(30px); }
*/


.carousel__cell, .carousel__cell *{
    
  transform-style: preserve-3d;
}

/* .prop { 
 
    width: 100px; 
    height: 100px; 
    background: red; 
    rotate: 0 1 0 90deg;
      transform-style: preserve-3d;
} */


.prop{
    width: 100px;
    height: 100px;

    background: gold;
    rotate: 0 1 0 90deg;
}