body {
    margin: 0;
    overflow-x: hidden;
}

.fenetre-theatre {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bande-histoire {
    display: flex;
    width: 900vw;
    height: 100%;
}

.acte {
    display: flex;
    width: 300vw;
    height: 100vh;
}

.part-1, .part-2, .part-3, 
.part-4, .part-5, .part-6, 
.part-7, .part-8, .part-9 {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

.acte-1 section {background-color: aliceblue; border-right: 2px solid black;}
.acte-2 section {background-color: rebeccapurple; border-right: 2px solid white;}
.acte-3 section {background-color: aquamarine; border-right:  2px solid black;}