.body {
    margin: 0;
    overflow-x: hidden;
}

.fenetre-histoire {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
}

.bande-histoire {
    display: flex;
    width: 900%;
    height: 100%;
}

.acte {
    width: 100vw;
    height: 100vh;
    border-right: 5px solid red;
}

.acte-1 {
    background-color: aliceblue;
}

.acte-2 {
    background-color: rebeccapurple;
}

.acte-3 {
    background-color: aquamarine;
}